<div class="jumbotron">

    <p class="lead">Tổng hợp các ebooks học lập trình chất lượng. Nếu bạn quan tâm cách lập trình trang web này với Angular như thế nào thì click
      <a routerLink="/introduce">vào đây</a> nhé.</p>
    <hr class="my-4">
    <button type="button" (click)="ClickBanner(1)" class="btn btn-danger" style="margin-right: 20px;">Học offline tại Trung Tâm Khoa Phạm</button>
    <button type="button" (click)="ClickBanner(2)" class="btn btn-danger">Học lập trình online miễn phí</button>

    <!--<a class="btn btn-primary btn-lg" href="#" role="button">Học lập trình MEAN cơ bản</a>-->

  </div>
