
<div *ngIf="state==false">
  <form (submit)="submitLogin(formLogin)" #formLogin="ngForm">
  <div class="form-group">

    <input type="text" [(ngModel)]="Username" name="Username" class="form-control"  placeholder="Enter email">
  </div>
  <div class="form-group">
    <input type="password" [(ngModel)]="Password" name="Password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>

  <input type="submit"  class="btn btn-primary" value="&nbsp;&nbsp;&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp;&nbsp;" />
  <button type="button" routerLink="./register" class="btn btn-primary" style=float:right>&nbsp;Register&nbsp;</button>
  <div *ngIf="error==true">{{err}}</div>
  </form>
</div>

<div *ngIf="state==true">
<welcome  name="{{name}}"></welcome>
</div>
