<!-- Content here -->
<menu></menu>
<slider></slider>
<!--body-->
<div class="row">
    <!--Left-->
    <div class="col-lg-3">
      <!--Category-->
      <users></users>
      <category></category>
    </div>
    <!--Right-->
    <div class="col-lg-9">
    <router-outlet></router-outlet>
</div>
</div>

<div class="jumbotron jumbotron-fluid" style="margin-top: 40px;">
    <div class="container" style="text-align: center">
      <p class="lead">This website is using Angular, Nodejs, MongoDB & Express</p>
    </div>
  </div>






