<p class="lead">Xin chào các bạn.</p>

<p class="lead">Website bạn đang xem được tạo ra với 02 mục đích: Chia sẽ ebook lập trình & luyện tập cho các bạn yêu thích lập trình MEAN.</p>

<p class="lead">Trang web sử dụng Angular, kết hợp MongoDB, Nodejs & Express. Đây cũng là một trong những bài tập cơ bản trong khóa học lập trình full stack MEAN tại Trung Tâm Đào Tạo Công Nghệ Khoa Phạm</p>

<p class="lead">Bên cạnh các khóa học tại Trung Tâm, các bạn có thể tự học lập trình Nodejs, Angular hoàn toàn miễn phí tại website <a href="http://online.khoapham.vn" target="_blank">http://online.khoapham.vn</a></p>

<p class="lead">Chúng ta hãy cùng xem cách chúng ta lập trình trang web này nhé:</p>

<div class="alert alert-primary" role="alert">
    Phần 1/8: Set up Routing (Angular Router)
</div>

<div class="videoWrapper">
    <!-- Copy & Pasted from YouTube -->
    <iframe width="560" height="349" src="http://www.youtube.com/embed/-tMnNf2cSck?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
</div>

<div class="alert alert-primary" style="margin-top: 60px;" role="alert">
    Phần 2/8: Viết trang quản trị & API với Express / MongoDB
</div>

<div class="videoWrapper">
    <!-- Copy & Pasted from YouTube -->
    <iframe width="560" height="349" src="http://www.youtube.com/embed/gNd0WsVCaHU?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
</div>

